<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Daruma Scraping</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">

      <div style="float: none; margin: 0 auto;" class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom border-gray pb-2 mb-4">Add Jobs</h3>

            <form method="post" action="/insert_job">
                <div class="form-group">
                    <div class="form-inline form-group">
                        <input style="margin-right:5px; width: 17%" id="daruma_code" type="text" name="daruma_code" class="form-control"
                               placeholder="Code (Optional)">
                        <select style="width: 17%" name="spider" class="form-control" id="spider" required>
                            <option selected disabled>Select Spider</option>
                            <option value="ProductListSpider">ProductListSpider</option>
                            <option value="BrandListSpider">BrandListSpider</option>
                        </select>
                        <input style="margin-left: 10px;" class="form-check-input" type="checkbox" name="priority" value="True">Priority<br>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="input" rows="5" id="textarea" placeholder="URL(s)" required></textarea>
                    </div>
                    <div class="form-inline form-group">
                        <input style="margin-right:5px; width: 17%" id="schedule_date" type="datetime-local" name="schedule_date" class="form-control"
                               placeholder="schedule (Optional)">
                        <input style="margin-right:5px; width: 17%" id="repeat_days" type="text" name="repeat_days" class="form-control"
                               placeholder="repeat days">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
<script>

        <!--var s;-->

        <!--function handlePaste (e) {-->
            <!--var clipboardData, pastedData;-->

            <!--// Stop data actually being pasted into div-->
            <!--e.stopPropagation();-->
            <!--e.preventDefault();-->

            <!--// Get pasted data via clipboard API-->
            <!--clipboardData = e.clipboardData || window.clipboardData;-->
            <!--pastedData = clipboardData.getData('Text');-->

            <!--// Do whatever with pasteddata-->
            <!--alert(pastedData + '\naaa');-->
        <!--}-->

        <!--document.getElementById('textarea').addEventListener('paste', handlePaste);-->


</script>
</html>