<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Hello {{username}}. </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">View Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Switch account</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-gray pb-2 mb-0">Jobs</h6>
        <div class="media text-muted pt-3">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Job ID</th>
                    <th scope="col">URL</th>
                    <th scope="col">Spider</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Status</th>
                    <th scope="col">Requests</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <th scope="row"><a style="text-decoration: none;" href="/user/{{username}}/detail/{{d['job_id']}}"
                                       target="_blank">{{ d['job_id'] }}</a></th>
                    <th scope="row"><a style="text-decoration: none;" href="{{ d['url'] }}" target="_blank">{{
                        d['url_display'] }}</a></th>
                    <td>{{ d['spider'] }}</td>
                    <td>{{ d['created_at'] }}</td>
                    <td>{{ d['created_by'] }}</td>
                    {% if d['status'] == 'pending' %}
                    <td style="color: gray;">{{ d['status'] }}</td>
                    {% elif d['status'] == 'on process' %}
                    <td style="color: blue;">{{ d['status'] }}</td>
                    {% elif d['status'] == 'done' %}
                    <td style="color: green;">{{ d['status'] }}</td>
                    {% elif d['status'] == 'error' %}
                    <td style="color: red;">{{ d['status'] }}</td>
                    {% elif d['status'] == 'canceled' %}
                    <td style="color: red;">{{ d['status'] }}</td>
                    {% endif %}
                    <td>{{d['requests_200']}}/{{ d['requests'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>