<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Daruma Scraping</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/aggregate">Aggregate</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
          {% if title %}
          <h3 class="border-bottom border-gray pb-2 mb-4">{{ title }}</h3>
          <span>
                <form class="form-inline my-2 my-lg-0">
                  <input name="keyword" class="form-control mr-sm-2" type="text" placeholder="Search product" aria-label="Search">
                  <button class="btn btn-primary my-2 my-sm-0" type="submit">Go!</button>
                </form>
            </span>
          {% else %}
          <h3 class="border-bottom border-gray pb-2 mb-4">LINK</h3>
          <span>
                <form class="form-inline my-2 my-lg-0">
                  <input name="keyword" class="form-control mr-sm-2" type="text" placeholder="Search product" aria-label="Search">
                  <button class="btn btn-primary my-2 my-sm-0" type="submit">Go!</button>
                </form>
            </span>
          {% endif %}
        <div class="media text-muted pt-3">
         <form id="myForm">
             {% if keyword %}
             <button name="link_button" value="link_this" style="float: right;" class="btn btn-primary my-2 my-sm-0" type="submit">Link!</button>
             <button name="link_button" value="unlink_this" style="float: right; margin-right: 10px;" class="btn btn-danger my-2 my-sm-0" type="submit">Unlink!</button>
             <br>
             <br>
             {% else %}

             {% endif %}
             <table class="table table-bordered">
                 {% if pagination %}
                 <thead>
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">Code</th>
                     <th scope="col">Name</th>
                     <th scope="col">Price</th>
                     <th scope="col">Store</th>
                     <th scope="col">Last Update</th>
                     <th scope="col">Link ID</th>
                     <th scope="col">Link</th>
                 </tr>
                 </thead>
                 {% else %}

                 {% endif %}

                 <tbody>
                 {% for d in data %}
                 <tr>
                     <!--<form action="/user/{{username}}/price/history" method="get">-->
                     <!--<input type="hidden" name="url" value="{{d['item_url']}}">-->
                     <!--<th scope="row"><button type="submit">{{ loop.index + (page - 1) * per_page }}</button></th>-->
                     <!--</form>-->
                     <th scope="row"><a href="detail_store/{{ d['price_id'] }}">{{ loop.index + (page - 1) * per_page
                         }}</a></th>
                     <td>{{ d['daruma_code'] }}</td>
                     <td><a style="text-decoration:none;" href="{{d['item_url']}}" target="_blank">{{ d['name'] }}</a>
                     </td>
                     <td>{{ d['price'] }}</td>
                     <td><a href="{{ d['store_url'] }}" target="_blank"><strong>{{ d['store'] }}</strong></a></td>
                     <td>{{ d['last_update'] }}</td>
                     <td>{{ d['link_id'] }}</td>
                     <td><input autocomplete="on" type="checkbox" value="{{ d['item_url'] }}#{{ d['es_id'] }}" name="link"/>&nbsp;</td>
                 </tr>
                 {% endfor %}
                 </tbody>
             </table>
             <input type="hidden" name="keyword" value="{{keyword}}">
             {% if pagination %}

             <button name="link_button" value="link_this" style="float: right;" class="btn btn-primary my-2 my-sm-0" type="submit">Link!</button>
             <button name="link_button" value="unlink_this" style="float: right; margin-right: 10px;" class="btn btn-danger my-2 my-sm-0" type="submit">Unlink!</button>
             {% else %}

             {% endif %}
         </form>
        </div>
          {% if pagination %}
            {{ pagination.links }}
          {% else %}

          {% endif %}
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>


        <script type="text/javascript">
        function submitForm() {
           var frm = document.getElementById('myForm');
           try {
                frm.submit();
           }
           finally {
                frm.reset();
            }
           <!--return false;-->
        }
        function init() {
          document.getElementById("upload_form").reset();
        }

        window.onload = init;
        </script>
    </body>
</html>